@font-face {
    font-family: Mukta-Regular;
    src: url(/Betütípusok/Mukta-Regular.ttf);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: lightgray;
  }

body {
    font-family: Mukta-Regular;
    color: white;
}

.banner {
    background-image: url(/Képek/banner.png);
    background-size: cover;
}

h1 {
    color: white;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: rgb(197, 197, 197);
    font-weight: lighter;
    font-size: 17pt;
}

h3 {
    color: rgb(197, 197, 197);
    font-weight: lighter;
    font-size: 12pt;
}

.tartalom {
    margin-left: auto;
    margin-right: auto;
}

hr {
    color: white;
}

#video {
    position:static;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 20%;
}

p {
    color: white;
    text-indent: 30px;
    font-size: 15pt;
}

h4 {
    color: rgb(231, 231, 231);
    font-weight: bolder;
    border-left: solid rgb(231, 231, 231) 2px;
    font-size: 32pt;
}

.bg1 {
    background-image: url(/Képek/bg1pattern.png);
    background-repeat: repeat;
} 

.lista>li {
    font-size: 12pt;
    font-weight: bolder;
    margin-bottom: 10px;
    list-style-image: url(/Képek/lista.png);
    list-style-position:inside;
    background-color: rgba(0, 0, 0, 0.151);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: solid rgb(202, 202, 202) 1px;
    padding: 15px;
    margin-bottom: 25px;
    margin-right: 30px;
}

.bg1>p {
    margin-top: -8px;
    border-left: solid rgb(231, 231, 231) 2px;
}

li>p {
    font-size: 12pt;
    font-weight: lighter;
    text-indent: 0;
    text-align: justify;
    color: rgb(179, 179, 179);
}

ul {
    margin-top: 40px;
}

img.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 30%;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.szoveg {
    font-weight: lighter;
    font-size: 15pt;
    text-indent: 0;
    letter-spacing: 2pt;
    text-align: justify;
    color: rgba(255, 255, 255, 0.781);
}

.cim1 {
    letter-spacing: 2pt;
}

.paralax1 {
    background-image: url(/Képek/img4.png);
    background-attachment: fixed;
    background-position:right;
    background-repeat: no-repeat;
    background-size:70%;
}

.card-body {
    color: black;
}

.card-body>p {
    color: rgb(255, 255, 255);
    text-indent: 0;
}

.kartyaszoveg {
    letter-spacing: 1pt;
    text-align: justify;
}

h5 {
    font-size: 22pt;
    letter-spacing: 1pt;
    font-weight: bolder;
    color: white;
}

.kartya {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.432);
}
