body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.banner {
    background-image: url(/Képek/bannerbg.png);
    background-size: cover;
}

h1 {
    color: white;
    font-weight: bold;
}

h2 {
    color: rgb(197, 197, 197);
    font-weight: lighter;
    font-size: 17pt;
}

h3 {
    color: rgb(197, 197, 197);
    font-weight: lighter;
    font-size: 12pt;
}

.tartalom {
    margin-left: auto;
    margin-right: auto;
}

hr {
    color: white;
}

#video {
    position:static;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 20%;
}

p {
    color: white;
}

h4 {
    color: rgb(231, 231, 231);
    font-weight: bolder;
    border-left: solid rgb(231, 231, 231) 2px;
}

.bg1 {
    background-image: url(/Képek/bg1pattern.png);
    background-repeat: repeat;
} 